@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400&family=Rubik:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    /* background-color: black !important; */
    font-family: 'Fredoka', sans-serif;
}
body{
    color: white;
    background-color: #2f3136;
    background-image: linear-gradient(to bottom, #e66465, #9198e5);
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}
nav{
    margin-top: 20px;
}
nav ul{
    height: 10vh;
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    width: 130px;
    text-align: center;
    padding: 0 0 0 7px;
}
nav ul li a{
    color: rgba(255, 255, 255, 0.733);
    text-decoration: none;
    
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-item:hover{
    color: white;
    font-weight: bold;
    text-shadow: -1px 2px #9198e5;
    
}

.logo-brand a{
    text-decoration: none;
    color: white;
    font-size: 25px;
    /* width: 305px; */
    filter: drop-shadow(0px 0px 4px #9198e5);
}
.is-hidden{
    opacity: 0;
}
.main-intro{
    font-size: 20px;
    margin-left: 150px;
    margin-top: 130px;
    margin-bottom: 300px;
    display: flex;
}
.left-content{
    margin-top: 80px;
}
.hello{
    /* margin-left: 150px; */
    font-size: 30px;
}
.intro{
    padding-left: 4px;
    font-size: 20px;
    /* margin-right: 600px;
    padding-right: 80px; */
    padding-top: 15px;
    width: 800px;
}
.intro-pic{
    display: flex;
    width: 350px;
    margin-left: 80px;
}
/* .about-section-cut{
    width: 1519px;
    height: 100px;
    rotate: 180deg;
    background-image: linear-gradient(white, rgba(255, 255, 255, 0),);
} */
.about{
    background-image: linear-gradient(to bottom, #9198e5, #e66465,);
}
.about-header{
    text-align: center;
    text-shadow: 2px 2px 5px #2f3136;
    padding-top: 60px;
}
.about-content-timeline{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}
.about-content-timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 50px;
    bottom: 65px;
    left: 50%;
    margin-left: -3px;
}
.about-container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.about-container::after{
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: 120px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 30px;
    border-radius: 50%;
    z-index: 1;
}
/* Place the container to the left */
.about-container-left{
    left: 56px;
}
  
  /* Place the container to the right */
.about-container-right {
    left: 50%;
}
.about-container-right::after {
    left: -16px;
}
.content {
    padding: 20px 10px 0 70px;
    /* background-color: white; */
    position: relative;
    border-radius: 6px;
  }

footer{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
    margin: 100px 0 60px 0;
}
/* Scroll Bar */
::-webkit-scrollbar {
    width: 6px;
    /* To Hide Scroll Bar UnComment the below line */
    /* display: none;  */
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #2f3136; 
    border-radius: .200em;    
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #232529;
    border-radius: .200em;
    border: 2px #232529;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #485fc7; 
}


/* old */

/* .navbar-item{
    color: white;
}
.navbar-start{
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 70px;
    margin-right: 20px;

}
.navbar-left-item{
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.navbar-brand{
    margin-left: 60px;
} */

/* Nav Bar Colors - Start */


/* .bd-navbar-item:hover{
    border-radius:.200em;
}
.bd-navbar-item:hover:not(.is-active){
    font-weight: 600;
    color: #9198e5 !important; 
    background-color: transparent !important
} */


/* Nav Bar Colors - End */

/* Navbar-Mobile - Burger  - Start */

/* .navbar-burger{
    color: white;
}
.navbar-burger:hover{
    border-radius: .200em;
    color: white;
    background-color: #485fc773;
} */


/* Navbar-Mobile - Burger  - End */
