@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  /* background-image: url("/Assets/imgs/bg.jpg"); */
  background-color: #232323;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.message404 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: "Open Sans";
  font-size: 24px;
  color: white;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
a:hover {
  color: #147efb;
  animation: hoverIcon 0.5s ease-in-out both;
}

img {
  width: 600px;
}
