@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");

body {
  overflow: hidden;

  background-image: url("/Assets/svgs/bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #232529;
  background-attachment: fixed;
}
.main {
  width: 100vw;
  height: 80vh;
}

.footer {
  margin-top: 60px;
}
.copyright {
  font-size: 16px !important;
  font-family: "Nunito";
  color: white;
}
.copyright a {
  text-decoration: none !important;
  color: #9198e5;
}

p {
  text-align: center;
  font-size: 32px;
  font-family: "Nunito", sans-serif;
  color: whitesmoke;
}

.image-container {
  margin: 20px;
}
.gifimag {
  display: block;
  margin: 0 auto;
  width: 25%;
  border-radius: 10px;
}
.buttons-container {
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
.buttons {
  padding: 5px;
  border-radius: 8px;
  width: 10%;
  text-decoration: none;
  font-family: "Nunito";
  border: 2px aliceblue;
}
#btn2 {
  position: fixed;
  transform: translate(-60%, 0%);
  background-color: #48c78e;
  color: white;
}

#btn1 {
  position: absolute;
  transform: translate(60%, 0%);
  background-color: #ed4245;
  color: white;
}

@media screen and (max-width: 1023px) {
  body {
    background-color: #232529;
    margin-top: 140px !important;
    background-position: inherit;
    background-size: auto;
  }
  .footer {
    margin: 0;
  }
  p {
    font-size: 40px;
    font-family: "Nunito", sans-serif;
  }
  .gifimag {
    display: block;
    margin: 0 auto;
    width: 80% !important;
  }
  .buttons {
    padding: 5px;
    border-radius: 8px;
    width: 30%;
    font-size: 20px;
    text-decoration: none;
    font-family: "Nunito";
    border: 2px aliceblue;
  }
  #btn2 {
    /* top: 70%;
    left: 55%; */
    transform: translate(0%, 50%);
  }
  #btn1 {
    position: absolute;

    transform: translate(0%, 210%);
  }
}
